/* == Off.canvas == */
/* Compass */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/* Colours */
/* Responsive break points */
/*1200px*/
/*1000px*/
/*600px*/
/*530px*/
/*450px*/
/*400px*/
/*320px*/
/* border-radius */
html {
  width: 100%;
  height: 100%;
  font-size: 100%; }

html.offcanvas {
  overflow: hidden; }

body {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #272727; }

.offcanvas body {
  overflow: hidden; }

.animatedSlide {
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  -ms-transition-property: -ms-transform;
  -ms-transition-duration: 0.3s;
  -ms-transition-timing-function: ease-out;
  -moz-transition-property: -moz-transform;
  -moz-transition-duration: 0.3s;
  -moz-transition-timing-function: ease-out;
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  -o-transition-property: -o-transform;
  -o-transition-duration: 0.3s;
  -o-transition-timing-function: ease-out; }

.no-csstransforms3d .animatedSlide {
  transition: left 0.3s ease-out, right 0.3s ease-out;
  -ms-transition: left 0.3s ease-out, right 0.3s ease-out;
  -moz-transition: left 0.3s ease-out, right 0.3s ease-out;
  -webkit-transition: left 0.3s ease-out, right 0.3s ease-out;
  -o-transition: left 0.3s ease-out, right 0.3s ease-out; }

.floated {
  float: left;
  width: 100%; }

.padded {
  padding: 2em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.paddedLight {
  padding: 1.2em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.offcanvas .scrollableArea {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch; }

.sidebarLeft.show, .sidebarRight.show {
  z-index: 200; }

/* Sliding side bars */
.sidebarLeft, .sidebarRight {
  float: left;
  width: 20%;
  word-wrap: break-word;
  z-index: 100;
  background-color: #272727;
  /* hides close button unless JS is enabled */ }
  .sidebarLeft .shutLeft, .sidebarLeft .shutRight, .sidebarRight .shutLeft, .sidebarRight .shutRight {
    display: none;
    position: absolute;
    top: 0;
    z-index: 90;
    width: 1.6em;
    height: 1.6em;
    font-size: 2.5em;
    line-height: 1.6em;
    color: gainsboro;
    text-decoration: none;
    text-align: center;
    opacity: 0.3;
    font-family: 'Entypo'; }
    .sidebarLeft .shutLeft:hover, .sidebarLeft .shutRight:hover, .sidebarRight .shutLeft:hover, .sidebarRight .shutRight:hover {
      opacity: 0.5; }

/* Styles for both sidebars */
.offcanvas .sidebarLeft, .offcanvas .sidebarRight {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 20em; }
  .offcanvas .sidebarLeft .shutLeft, .offcanvas .sidebarLeft .shutRight, .offcanvas .sidebarRight .shutLeft, .offcanvas .sidebarRight .shutRight {
    display: block; }
  @media screen and (max-width: 28.125em) {
    .offcanvas .sidebarLeft, .offcanvas .sidebarRight {
      width: 16em; } }

.offcanvas .sidebarLeft {
  left: 0;
  transform: translate3d(-7em, 0, 0);
  -ms-transform: translate3d(-7em, 0, 0);
  -moz-transform: translate3d(-7em, 0, 0);
  -webkit-transform: translate3d(-7em, 0, 0);
  -o-transform: translate3d(-7em, 0, 0); }
  .offcanvas .sidebarLeft .shutLeft {
    left: 0; }

.offcanvas .sidebarRight {
  right: 0;
  transform: translate3d(7em, 0, 0);
  -ms-transform: translate3d(7em, 0, 0);
  -moz-transform: translate3d(7em, 0, 0);
  -webkit-transform: translate3d(7em, 0, 0);
  -o-transform: translate3d(7em, 0, 0); }
  .offcanvas .sidebarRight .shutRight {
    right: 0; }

/*.no-csstransforms3d .offcanvas .sidebarLeft {
	left:-7em;
}
.no-csstransforms3d .offcanvas .sidebarRight {
	right:-7em;
}*/
/* Main central area styles */
.page {
  word-wrap: break-word;
  position: relative;
  z-index: 500; }
  .page .scrollableArea {
    position: absolute;
    top: 4rem;
    bottom: 0;
    background: #fff; }
    @media screen and (max-width: 37.5em) {
      .page .scrollableArea {
        font-size: 90%; } }
    @media screen and (max-width: 28.125em) {
      .page .scrollableArea {
        font-size: 85%; } }
    @media screen and (max-width: 20em) {
      .page .scrollableArea {
        font-size: 80%; } }

.offcanvas .page {
  width: 100%;
  height: 100%; }

.no-js .page {
  float: left;
  width: 60%; }

/* Slid styles */
.page.slidRight {
  transform: translate3d(20em, 0, 0);
  -ms-transform: translate3d(20em, 0, 0);
  -moz-transform: translate3d(20em, 0, 0);
  -webkit-transform: translate3d(20em, 0, 0);
  -o-transform: translate3d(20em, 0, 0); }
  @media screen and (max-width: 28.125em) {
    .page.slidRight {
      transform: translate3d(16em, 0, 0);
      -ms-transform: translate3d(16em, 0, 0);
      -moz-transform: translate3d(16em, 0, 0);
      -webkit-transform: translate3d(16em, 0, 0);
      -o-transform: translate3d(16em, 0, 0); } }

.page.slidLeft {
  transform: translate3d(-20em, 0, 0);
  -ms-transform: translate3d(-20em, 0, 0);
  -moz-transform: translate3d(-20em, 0, 0);
  -webkit-transform: translate3d(-20em, 0, 0);
  -o-transform: translate3d(-20em, 0, 0); }
  @media screen and (max-width: 28.125em) {
    .page.slidLeft {
      transform: translate3d(-16em, 0, 0);
      -ms-transform: translate3d(-16em, 0, 0);
      -moz-transform: translate3d(-16em, 0, 0);
      -webkit-transform: translate3d(-16em, 0, 0);
      -o-transform: translate3d(-16em, 0, 0); } }

.no-csstransforms3d .page.slidRight {
  left: 20em; }
  @media screen and (max-width: 28.125em) {
    .no-csstransforms3d .page.slidRight {
      left: 16em; } }

.no-csstransforms3d .page.slidLeft {
  left: -20em; }
  @media screen and (max-width: 28.125em) {
    .no-csstransforms3d .page.slidLeft {
      left: -16em; } }

.sidebarLeft.slidRight, .sidebarRight.slidLeft {
  transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0); }

.no-csstransforms3d .sidebarLeft.slidRight {
  left: 0; }

.no-csstransforms3d .sidebarRight.slidLeft {
  right: 0; }

.topBar {
  position: relative;
  height: 4em;
  width: 100%;
  z-index: 1000;
  word-wrap: break-word;
  overflow: hidden;
  background-color: #999999; }
  .topBar .slideRight, .topBar .slideLeft {
    position: absolute;
    top: 0;
    width: 0.8em;
    height: 0.8em;
    font-size: 5em;
    line-height: 0.84em;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-family: 'Entypo'; }
  .topBar .slideRight:hover, .topBar .slideRight.pressed, .topBar .slideLeft:hover, .topBar .slideLeft.pressed {
    color: white; }
  .topBar .slideRight.pressed, .topBar .slideLeft.pressed {
    background: #828282; }
  .topBar .slideRight {
    left: 0; }
  .topBar .slideLeft {
    right: 0; }

/* Compass */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/* Colours */
/* Responsive break points */
/*1200px*/
/*1000px*/
/*600px*/
/*530px*/
/*450px*/
/*400px*/
/*320px*/
/* border-radius */
@font-face {
  font-family: Entypo;
  src: url("../fonts/entypo.eot");
  src: url("../fonts/entypo.woff") format("woff"), url("../fonts/entypo.eot?#iefix") format("embedded-opentype"), url("../fonts/entypo.ttf") format("truetype"), url("../fonts/entypo.svg#Entypo") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: Social;
  src: url("../fonts/entypo-social.eot");
  src: url("../fonts/entypo-social.woff") format("woff"), url("../fonts/entypo-social.eot?#iefix") format("embedded-opentype"), url("../fonts/entypo-social.ttf") format("truetype"), url("../fonts/entypo-social.svg#Entypo") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: Pacifico;
  src: url("../fonts/Pacifico-webfont.eot");
  src: url("../fonts/Pacifico-webfont.woff") format("woff"), url("../fonts/Pacifico-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Pacifico-webfont.ttf") format("truetype"), url("../fonts/Pacifico-webfont.svg#Entypo") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: Lato;
  src: url("../fonts/Lato-Hai-webfont.eot");
  src: url("../fonts/Lato-Hai-webfont.woff") format("woff"), url("../fonts/Lato-Hai-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Hai-webfont.ttf") format("truetype"), url("../fonts/Lato-Hai-webfont.svg#Entypo") format("svg");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: Lato;
  src: url("../fonts/Lato-Lig-webfont.eot");
  src: url("../fonts/Lato-Lig-webfont.woff") format("woff"), url("../fonts/Lato-Lig-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Lig-webfont.ttf") format("truetype"), url("../fonts/Lato-Lig-webfont.svg#Entypo") format("svg");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: Lato;
  src: url("../fonts/Lato-Reg-webfont.eot");
  src: url("../fonts/Lato-Reg-webfont.woff") format("woff"), url("../fonts/Lato-Reg-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Reg-webfont.ttf") format("truetype"), url("../fonts/Lato-Reg-webfont.svg#Entypo") format("svg");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: Lato;
  src: url("../fonts/Lato-Bol-webfont.eot");
  src: url("../fonts/Lato-Bol-webfont.woff") format("woff"), url("../fonts/Lato-Bol-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Bol-webfont.ttf") format("truetype"), url("../fonts/Lato-Bol-webfont.svg#Entypo") format("svg");
  font-weight: 400;
  font-style: normal; }

::selection {
  background: #702c07;
  color: #fff; }

::-moz-selection {
  background: #702c07;
  color: #fff; }

::-webkit-selection {
  background: #702c07;
  color: #fff; }

html {
  font-family: 'Lato', sans-serif; }

body {
  background-image: url(img/cloth.png);
  background-size: 250px; }

h1 {
  font-family: 'Pacifico', Serif;
  font-size: 2.8em;
  font-weight: 300;
  line-height: 1.2em;
  margin: 0.5em 0;
  color: #e05000;
  text-shadow: 0 0.03em 0.0625em rgba(0, 0, 0, 0.15); }

h2 {
  font-family: 'Pacifico', Serif;
  font-size: 2.2em;
  font-weight: 300;
  line-height: 1.2em;
  margin: 0.4em 0;
  color: #272727;
  text-shadow: 0 0.03em 0.0625em rgba(0, 0, 0, 0.15); }

h3 {
  font-family: 'Lato', Serif;
  font-size: 1.6em;
  font-weight: 300;
  line-height: 1.2em;
  margin: 0.3em 0;
  color: #e05000;
  text-shadow: 0 0.03em 0.0625em rgba(0, 0, 0, 0.15); }

h4 {
  font-family: 'Lato', Serif;
  font-size: 1.4em;
  font-weight: 300;
  line-height: 1.2em;
  margin: 0.3em 0;
  color: #272727;
  text-shadow: 0 0.03em 0.0625em rgba(0, 0, 0, 0.15); }

p {
  font-size: 1.4em;
  font-weight: 200;
  line-height: 1.5em;
  margin: 0.6em 0; }
  p a:hover {
    color: #e05000; }

a {
  color: inherit; }

hr {
  float: left;
  width: 100%;
  height: 2px;
  margin: 3em 0;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 2px dashed #ffede2; }

code {
  display: block;
  margin: 2em 0;
  padding: 1em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: courier new;
  background: #eeeeee;
  border-radius: 0.25em; }

.icon {
  font-family: Entypo;
  font-style: normal;
  font-size: 1.5em; }

.social {
  font-family: Social;
  font-style: normal;
  font-size: 1.5em; }

.pacifico {
  font-family: 'Pacifico'; }

.button {
  float: left;
  margin: 0.5em 0;
  padding: 0.5em;
  font-family: 'Pacifico', Serif;
  font-size: 1.2em;
  font-weight: 300;
  color: #fff6f1;
  background-color: #e05000;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e05000), color-stop(100%, #be4400));
  background: -webkit-linear-gradient(#e05000, #be4400);
  background: -moz-linear-gradient(#e05000, #be4400);
  background: -o-linear-gradient(#e05000, #be4400);
  background: linear-gradient(#e05000, #be4400);
  text-decoration: none;
  border-radius: 0.375em;
  box-shadow: inset 0 0.0625em 0.0625em rgba(255, 255, 255, 0.25), 0 0.0625em 0.125em rgba(0, 0, 0, 0.25);
  text-shadow: 0 0.02em 0.02em rgba(0, 0, 0, 0.25); }

.button:hover {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fd5a00), color-stop(100%, #ee5500));
  background: -webkit-linear-gradient(#fd5a00, #ee5500);
  background: -moz-linear-gradient(#fd5a00, #ee5500);
  background: -o-linear-gradient(#fd5a00, #ee5500);
  background: linear-gradient(#fd5a00, #ee5500); }

.button:active {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #be4400), color-stop(100%, #e05000));
  background: -webkit-linear-gradient(#be4400, #e05000);
  background: -moz-linear-gradient(#be4400, #e05000);
  background: -o-linear-gradient(#be4400, #e05000);
  background: linear-gradient(#be4400, #e05000); }

.button.huge {
  width: 100%;
  text-align: center;
  font-size: 2.8em;
  margin: 0.8em 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.center {
  float: left;
  width: 100%;
  text-align: center; }

.fat {
  width: 100%;
  max-width: 75em;
  margin: 0 auto; }

.thin {
  width: 100%;
  max-width: 62.5em;
  margin: 0 auto; }

.thinnest {
  width: 100%;
  max-width: 37.5em;
  margin: 0 auto; }

.sidebarLeft, .sidebarRight {
  background-image: url(img/cloth.png);
  background-size: 250px;
  color: #fff; }
  .sidebarLeft ul, .sidebarRight ul {
    float: left;
    width: 100%; }
    .sidebarLeft ul a, .sidebarRight ul a {
      float: left;
      width: 100%;
      padding: 0.6em;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      text-decoration: none;
      color: gainsboro;
      font-weight: 300;
      text-shadow: 0 0.0625em 0.0625em rgba(0, 0, 0, 0.4); }
      .sidebarLeft ul a:hover, .sidebarLeft ul a.current, .sidebarRight ul a:hover, .sidebarRight ul a.current {
        color: #fff;
        background: #323232; }
  .sidebarLeft li, .sidebarRight li {
    float: left;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
    position: relative; }
    .sidebarLeft li .icon, .sidebarRight li .icon {
      margin: 0 0.4em 0 0; }
    .sidebarLeft li .social, .sidebarRight li .social {
      margin: 0 0.4em 0 0; }
  .sidebarLeft li:last-child, .sidebarRight li:last-child {
    border-bottom: 0; }

.you {
  float: left;
  width: 100%;
  background: rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 -0.2 0.5em rgba(0, 0, 0, 0.6);
  border-bottom: 1px solid #2d2d2d;
  position: relative;
  text-align: center; }
  .you .avatar {
    width: 5em;
    border-radius: 50em;
    box-shadow: 0 0.05em 0.08em rgba(255, 255, 255, 0.25); }
  .you .avatar:hover {
    opacity: 0.8; }
  .you h2 {
    font-family: 'Lato', Serif;
    margin: 0.65em 0 0 0;
    line-height: 1.2em;
    font-size: 1.2em;
    font-weight: 300;
    color: #e05000;
    text-shadow: 0 0.0625em 0.0625em rgba(0, 0, 0, 0.4); }
    .you h2 a {
      text-decoration: none; }

.page {
  box-shadow: 0 0 2em rgba(0, 0, 0, 0.75);
  -moz-border-radius-topleft: 0.375em;
  -webkit-border-top-left-radius: 0.375em;
  border-top-left-radius: 0.375em;
  -moz-border-radius-topright: 0.375em;
  -webkit-border-top-right-radius: 0.375em;
  border-top-right-radius: 0.375em; }
  .page .scrollable {
    top: 4em;
    background: #f7f7f7 url(img/backgroundNoise.png);
    background-size: 90px; }

.topBar {
  height: 4em;
  background-color: #e05000;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e05000), color-stop(100%, #be4400));
  background: -webkit-linear-gradient(#e05000, #be4400);
  background: -moz-linear-gradient(#e05000, #be4400);
  background: -o-linear-gradient(#e05000, #be4400);
  background: linear-gradient(#e05000, #be4400);
  box-shadow: inset 0 0.0625em 0.0625em rgba(255, 255, 255, 0.25), 0 0.0625em 0.125em rgba(0, 0, 0, 0.25);
  -moz-border-radius-topleft: 0.375em;
  -webkit-border-top-left-radius: 0.375em;
  border-top-left-radius: 0.375em;
  -moz-border-radius-topright: 0.375em;
  -webkit-border-top-right-radius: 0.375em;
  border-top-right-radius: 0.375em; }
  .topBar .slideRight, .topBar .slideLeft {
    color: #fff6f1;
    text-shadow: 0 0.02em 0.02em rgba(0, 0, 0, 0.25); }
  .topBar .slideRight:hover, .topBar .slideRight.pressed, .topBar .slideLeft:hover, .topBar .slideLeft.pressed {
    color: #ffdac6; }
  .topBar .slideRight.pressed, .topBar .slideLeft.pressed {
    background: #b34000; }
  .topBar .slideRight.pressed {
    border-right: 1px solid #d94e00;
    box-shadow: inset -0.02em 0.02em 0.0625em rgba(0, 0, 0, 0.15); }
  .topBar .slideLeft.pressed {
    border-left: 1px solid #d94e00;
    box-shadow: inset 0.02em 0.02em 0.0625em rgba(0, 0, 0, 0.15); }
  .topBar .slideRight {
    -moz-border-radius-topleft: 0.075em;
    -webkit-border-top-left-radius: 0.075em;
    border-top-left-radius: 0.075em; }
  .topBar .slideLeft {
    -moz-border-radius-topright: 0.075em;
    -webkit-border-top-right-radius: 0.075em;
    border-top-right-radius: 0.075em; }
  .topBar h1 {
    font-family: 'Pacifico', Sans-Serif;
    color: #ffc8a9;
    font-size: 1.8em;
    font-weight: 300;
    line-height: 1.1em;
    text-align: center;
    text-shadow: 0 -0.04em 0.04em rgba(0, 0, 0, 0.25), 0 0 3em #ffa370; }

.cover {
  background: #272727 url(../pictures/_MG_3901-blur.jpg);
  background-size: cover;
  background-position: center center; }
  .cover .heading {
    padding: 3em 0;
    background-color: transparent;
    /*@include background(linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0)));*/ }
    .cover .heading h1 {
      color: #fff;
      text-shadow: 0 0.0625em 0.125em rgba(0, 0, 0, 0.25);
      position: relative;
      z-index: 100; }
    .cover .heading h2 {
      text-shadow: 0 0.0625em 0.0625em rgba(0, 0, 0, 0.25);
      position: relative;
      z-index: 100;
      color: #fff;
      opacity: 0.8; }
  .cover .info {
    padding-bottom: 1.8em; }

.heading {
  float: left;
  width: 100%;
  text-align: center;
  background: #fff; }
  .heading h1 {
    font-family: 'Lato', Serif;
    max-width: 75em;
    font-size: 3.8em;
    font-weight: 200;
    margin: 0.3em 0; }
  .heading h2 {
    font-family: 'Lato', Serif;
    max-width: 75em;
    text-transform: uppercase;
    letter-spacing: 0.75em;
    font-size: 1.2em;
    font-weight: 200;
    margin: 1em 0 0.2em 0; }
  .heading h2::before {
    content: "➖ ";
    font-family: entypo;
    font-size: 1.2em;
    opacity: 0.5; }
  .heading h2::after {
    content: " ➖";
    font-family: entypo;
    font-size: 1.2em;
    opacity: 0.5; }
  @media screen and (max-width: 28.125em) {
    .heading {
      font-size: 90%; } }

.demo {
  float: left;
  width: 100%;
  margin: 3em 0; }
  .demo li {
    float: left;
    width: 33.333333%;
    margin-bottom: 2em;
    position: relative;
    text-align: center; }
    .demo li span {
      position: absolute;
      top: 10%;
      right: -6%;
      font-size: 1.5em;
      font-weight: 100;
      color: #702c07; }
    @media screen and (max-width: 37.5em) {
      .demo li {
        width: 50%; } }
    @media screen and (max-width: 20em) {
      .demo li {
        width: 100%; } }
  .demo img {
    width: 80%;
    height: auto;
    margin-bottom: 2em; }
  .demo p {
    width: 80%;
    margin: 0 10%; }
