/* Compass */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/* Colours */
/*e1605a*/
/* Responsive break points */
/*1200px*/
/*1000px*/
/*600px*/
/*530px*/
/*450px*/
/*400px*/
/*320px*/
/* border-radius */
@font-face {
  font-family: Entypo;
  src: url("../fonts/entypo.eot");
  src: url("../fonts/entypo.woff") format("woff"), url("../fonts/entypo.eot?#iefix") format("embedded-opentype"), url("../fonts/entypo.ttf") format("truetype"), url("../fonts/entypo.svg#Entypo") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: Social;
  src: url("../fonts/entypo-social.eot");
  src: url("../fonts/entypo-social.woff") format("woff"), url("../fonts/entypo-social.eot?#iefix") format("embedded-opentype"), url("../fonts/entypo-social.ttf") format("truetype"), url("../fonts/entypo-social.svg#Entypo") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: Pacifico;
  src: url("../fonts/Pacifico-webfont.eot");
  src: url("../fonts/Pacifico-webfont.woff") format("woff"), url("../fonts/Pacifico-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Pacifico-webfont.ttf") format("truetype"), url("../fonts/Pacifico-webfont.svg#Entypo") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: Lato;
  src: url("../fonts/Lato-Hai-webfont.eot");
  src: url("../fonts/Lato-Hai-webfont.woff") format("woff"), url("../fonts/Lato-Hai-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Hai-webfont.ttf") format("truetype"), url("../fonts/Lato-Hai-webfont.svg#Entypo") format("svg");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: Lato;
  src: url("../fonts/Lato-Lig-webfont.eot");
  src: url("../fonts/Lato-Lig-webfont.woff") format("woff"), url("../fonts/Lato-Lig-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Lig-webfont.ttf") format("truetype"), url("../fonts/Lato-Lig-webfont.svg#Entypo") format("svg");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: Lato;
  src: url("../fonts/Lato-Reg-webfont.eot");
  src: url("../fonts/Lato-Reg-webfont.woff") format("woff"), url("../fonts/Lato-Reg-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Reg-webfont.ttf") format("truetype"), url("../fonts/Lato-Reg-webfont.svg#Entypo") format("svg");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: Lato;
  src: url("../fonts/Lato-Bol-webfont.eot");
  src: url("../fonts/Lato-Bol-webfont.woff") format("woff"), url("../fonts/Lato-Bol-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Bol-webfont.ttf") format("truetype"), url("../fonts/Lato-Bol-webfont.svg#Entypo") format("svg");
  font-weight: 400;
  font-style: normal; }

::selection {
  background: #702c07;
  color: #fff; }

::-moz-selection {
  background: #702c07;
  color: #fff; }

::-webkit-selection {
  background: #702c07;
  color: #fff; }

html {
  font-family: "Lato", sans-serif; }

body {
  background-image: url(img/cloth.png);
  background-size: 250px; }

h1 {
  font-family: "Pacifico", Serif;
  font-size: 2.8em;
  font-weight: 300;
  line-height: 1.2em;
  margin: 0.5em 0;
  color: #e05000;
  text-shadow: 0 0.03em 0.0625em rgba(0, 0, 0, 0.15); }

h2 {
  font-family: "Pacifico", Serif;
  font-size: 2.2em;
  font-weight: 300;
  line-height: 1.2em;
  margin: 0.4em 0;
  color: #272727;
  text-shadow: 0 0.03em 0.0625em rgba(0, 0, 0, 0.15); }

h3 {
  font-family: "Lato", Serif;
  font-size: 1.6em;
  font-weight: 300;
  line-height: 1.2em;
  margin: 0.3em 0;
  color: #e05000;
  text-shadow: 0 0.03em 0.0625em rgba(0, 0, 0, 0.15); }

h4 {
  font-family: "Lato", Serif;
  font-size: 1.4em;
  font-weight: 300;
  line-height: 1.2em;
  margin: 0.3em 0;
  color: #272727;
  text-shadow: 0 0.03em 0.0625em rgba(0, 0, 0, 0.15); }

p {
  font-size: 1.4em;
  font-weight: 200;
  line-height: 1.5em;
  margin: 0.6em 0; }
  p a:hover {
    color: #e05000; }

a {
  color: inherit; }

hr {
  float: left;
  width: 100%;
  height: 2px;
  margin: 3em 0;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 2px dashed #ffede2; }

.icon {
  font-family: Entypo;
  font-style: normal;
  font-size: 1.5em; }

.social {
  font-family: Social;
  font-style: normal;
  font-size: 1.5em; }

.pacifico {
  font-family: 'Pacifico'; }

.button {
  float: left;
  margin: 0.5em 0;
  padding: 0.5em;
  font-family: "Pacifico", Serif;
  font-size: 1.2em;
  font-weight: 300;
  color: #fff6f1;
  background-color: #e05000;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e05000), color-stop(100%, #be4400));
  background: -webkit-linear-gradient(#e05000, #be4400);
  background: -moz-linear-gradient(#e05000, #be4400);
  background: -o-linear-gradient(#e05000, #be4400);
  background: linear-gradient(#e05000, #be4400);
  text-decoration: none;
  border-radius: 0.375em;
  box-shadow: inset 0 0.0625em 0.0625em rgba(255, 255, 255, 0.25), 0 0.0625em 0.125em rgba(0, 0, 0, 0.25);
  text-shadow: 0 0.02em 0.02em rgba(0, 0, 0, 0.25); }

.button:hover {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fd5a00), color-stop(100%, #ee5500));
  background: -webkit-linear-gradient(#fd5a00, #ee5500);
  background: -moz-linear-gradient(#fd5a00, #ee5500);
  background: -o-linear-gradient(#fd5a00, #ee5500);
  background: linear-gradient(#fd5a00, #ee5500); }

.button:active {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #be4400), color-stop(100%, #e05000));
  background: -webkit-linear-gradient(#be4400, #e05000);
  background: -moz-linear-gradient(#be4400, #e05000);
  background: -o-linear-gradient(#be4400, #e05000);
  background: linear-gradient(#be4400, #e05000); }

.button.huge {
  width: 100%;
  text-align: center;
  font-size: 2.8em;
  margin: 0.8em 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.center {
  float: left;
  width: 100%;
  text-align: center; }

.white {
  background: #fff; }

.fat {
  width: 100%;
  max-width: 75em;
  margin: 0 auto; }

.thin {
  width: 100%;
  max-width: 62.5em;
  margin: 0 auto; }

.thinnest {
  width: 100%;
  max-width: 37.5em;
  margin: 0 auto; }

.sidebarLeft, .sidebarRight {
  background-image: url(img/cloth.png);
  background-size: 250px;
  color: #fff; }
  .sidebarLeft ul, .sidebarRight ul {
    float: left;
    width: 100%; }
    .sidebarLeft ul a, .sidebarRight ul a {
      float: left;
      width: 100%;
      padding: 0.6em;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      text-decoration: none;
      color: gainsboro;
      font-weight: 300;
      text-shadow: 0 0.0625em 0.0625em rgba(0, 0, 0, 0.4); }
    .sidebarLeft ul a:hover, .sidebarRight ul a:hover {
      color: #fff;
      background: #323232; }
  .sidebarLeft li, .sidebarRight li {
    float: left;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
    position: relative; }
    .sidebarLeft li .icon, .sidebarRight li .icon {
      margin: 0 0.4em 0 0; }
    .sidebarLeft li .social, .sidebarRight li .social {
      margin: 0 0.4em 0 0; }
  .sidebarLeft li:last-child, .sidebarRight li:last-child {
    border-bottom: 0; }

.you {
  float: left;
  width: 100%;
  background: rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 -0.2 0.5em rgba(0, 0, 0, 0.6);
  border-bottom: 1px solid #2d2d2d;
  position: relative;
  text-align: center; }
  .you .avatar {
    width: 5em;
    border-radius: 50em;
    box-shadow: 0 0.05em 0.08em rgba(255, 255, 255, 0.25); }
  .you .avatar:hover {
    opacity: 0.8; }
  .you h2 {
    font-family: "Lato", Serif;
    margin: 0.65em 0 0 0;
    line-height: 1.2em;
    font-size: 1.2em;
    font-weight: 300;
    color: #e05000;
    text-shadow: 0 0.0625em 0.0625em rgba(0, 0, 0, 0.4); }
    .you h2 a {
      text-decoration: none; }

.page {
  box-shadow: 0 0 2em rgba(0, 0, 0, 0.75);
  -moz-border-radius-topleft: 0.375em;
  -webkit-border-top-left-radius: 0.375em;
  border-top-left-radius: 0.375em;
  -moz-border-radius-topright: 0.375em;
  -webkit-border-top-right-radius: 0.375em;
  border-top-right-radius: 0.375em; }
  .page .scrollable {
    top: 4em;
    background: #f7f7f7 url(img/backgroundNoise.png);
    background-size: 90px; }

.topBar {
  height: 4em;
  background-color: #e05000;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e05000), color-stop(100%, #be4400));
  background: -webkit-linear-gradient(#e05000, #be4400);
  background: -moz-linear-gradient(#e05000, #be4400);
  background: -o-linear-gradient(#e05000, #be4400);
  background: linear-gradient(#e05000, #be4400);
  box-shadow: inset 0 0.0625em 0.0625em rgba(255, 255, 255, 0.25), 0 0.0625em 0.125em rgba(0, 0, 0, 0.25);
  -moz-border-radius-topleft: 0.375em;
  -webkit-border-top-left-radius: 0.375em;
  border-top-left-radius: 0.375em;
  -moz-border-radius-topright: 0.375em;
  -webkit-border-top-right-radius: 0.375em;
  border-top-right-radius: 0.375em; }
  .topBar .slideRight, .topBar .slideLeft {
    color: #fff6f1;
    text-shadow: 0 0.02em 0.02em rgba(0, 0, 0, 0.25); }
  .topBar .slideRight:hover, .topBar .slideRight.pressed, .topBar .slideLeft:hover, .topBar .slideLeft.pressed {
    color: #ffdac6; }
  .topBar .slideRight.pressed, .topBar .slideLeft.pressed {
    background: #b34000; }
  .topBar .slideRight.pressed {
    border-right: 1px solid #d94e00;
    box-shadow: inset -0.02em 0.02em 0.0625em rgba(0, 0, 0, 0.15); }
  .topBar .slideLeft.pressed {
    border-left: 1px solid #d94e00;
    box-shadow: inset 0.02em 0.02em 0.0625em rgba(0, 0, 0, 0.15); }
  .topBar .slideRight {
    -moz-border-radius-topleft: 0.075em;
    -webkit-border-top-left-radius: 0.075em;
    border-top-left-radius: 0.075em; }
  .topBar .slideLeft {
    -moz-border-radius-topright: 0.075em;
    -webkit-border-top-right-radius: 0.075em;
    border-top-right-radius: 0.075em; }
  .topBar h1 {
    font-family: "Pacifico", Sans-Serif;
    color: #ffc8a9;
    font-size: 1.8em;
    font-weight: 300;
    line-height: 1.1em;
    text-align: center;
    text-shadow: 0 -0.04em 0.04em rgba(0, 0, 0, 0.25), 0 0 3em #ffa370; }

.cover {
  background-image: url(../pictures/_MG_3901-blur.jpg);
  background-size: cover;
  background-position: center center; }
  .cover .heading {
    padding: 3em 0;
    background-color: transparent;
    /*@include background(linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0)));*/ }
    .cover .heading h1 {
      color: #fff;
      text-shadow: 0 0.0625em 0.125em rgba(0, 0, 0, 0.25);
      position: relative;
      z-index: 100; }
    .cover .heading h2 {
      text-shadow: 0 0.0625em 0.0625em rgba(0, 0, 0, 0.25);
      position: relative;
      z-index: 100;
      color: #fff;
      opacity: 0.8; }
  .cover .info {
    padding-bottom: 1.8em; }

.heading {
  float: left;
  width: 100%;
  text-align: center;
  background: #fff; }
  .heading h1 {
    font-family: "Lato", Serif;
    max-width: 75em;
    font-size: 3.8em;
    font-weight: 200;
    margin: 0.3em 0; }
  .heading h2 {
    font-family: "Lato", Serif;
    max-width: 75em;
    text-transform: uppercase;
    letter-spacing: 0.75em;
    font-size: 1.2em;
    font-weight: 200;
    margin: 1em 0 0.2em 0; }
  .heading h2::before {
    content: "➖ ";
    font-family: entypo;
    font-size: 1.2em;
    opacity: 0.5; }
  .heading h2::after {
    content: " ➖";
    font-family: entypo;
    font-size: 1.2em;
    opacity: 0.5; }
  @media screen and (max-width: 28.125em) {
    .heading {
      font-size: 90%; } }

.demo {
  float: left;
  width: 100%;
  margin: 3em 0; }
  .demo li {
    float: left;
    width: 33.333333%;
    margin-bottom: 2em;
    position: relative;
    text-align: center; }
    .demo li span {
      position: absolute;
      top: 10%;
      right: -6%;
      font-size: 1.5em;
      font-weight: 100;
      color: #702c07; }
    @media screen and (max-width: 37.5em) {
      .demo li {
        width: 50%; } }
    @media screen and (max-width: 20em) {
      .demo li {
        width: 100%; } }
  .demo img {
    width: 80%;
    height: auto;
    margin-bottom: 2em; }
  .demo p {
    width: 80%;
    margin: 0 10%; }
