/* Compass */
@import "compass/reset";
@import "compass/css3";
@import "compass/utilities";
@import "compass/css3/images";
@import "compass/css3/box-sizing";

/* Colours */
$lightestGrey:#f7f7f7;
$lightGrey:#dcdcdc;
$mediumGrey:#999;
$darkGrey:#272727;
$red:#ec6250;
$darkGreen:#5a6e6c;
$blue:#3f7083;
$orange:#e05000;
$darkOrange:#702c07;

/* Responsive break points */
$largestBreak:75em;/*1200px*/
$largeBreak:62.5em;/*1000px*/
$mediumLargeBreak:37.5em;/*600px*/
$mediumBreak:33.125em;/*530px*/
$smallMediumBreak:28.125em;/*450px*/
$smallBreak:25em;/*400px*/
$smallestBreak:20em;/*320px*/

/* border-radius */

$threePixels:0.1875em;
$sixPixels:0.375em;